

athensgrey = #e6e6e6
.athensgrey
  background athensgrey

bisque = #CDEBF9
.bisque
  background bisque
black = #000000
  .black
    background black
blue_zodiac = #3E3E40
.blue_zodiac
  background blue_zodiac
.l-blue_zodiac
  color blue_zodiac

.bleached_cedar
  background #4a4a4a

chocolate = #db6812
.chocolate
  background chocolate
.l-chocolate
  color chocolate

conifer = #9ecc48
.conifer
  background conifer
curiousblue = #0c78ac
.curiousblue
  background curiousblue
.l-curiousblue
  color curiousblue

dimgray = #747474
.dimgray
  background dimgray
.l-dimgray
  color dimgray

fog = #f2e3ff
.fog
  background fog
.l-fog
  color fog
gin = #DBE1CF
.gin
  background gin
kingfisher_daisy = #612e7f
.kingfisher_daisy
  background kingfisher_daisy

indigo = #560E7F;
.indigo
  background indigo
.l-indigo
  color indigo

iron = #ccc
.l-iron
  color iron
lightning_yellow = #f9a425
.lightning_yellow
  background lightning_yellow
.l-lightning_yellow
  color lightning_yellow

.malibu
  background #0088b7
.l-malibu
  color #0088b7
maroon = #bc215f
.maroon
  background maroon

.montana
  background #333

.orient
  background #005b7a

pattens_blue = #CDEBF9
.pattens_blue
  background pattens_blue
.l-pattens_blue
  color pattens_blues

pelorous = #FFE3C2
.pelorous
  background pelorous

.pictonblue
  background #2aabe2

.l-pictonblue
  color #2aabe2
.tarawera
  background #2b414b

.white
  background #fff
.l-white
  color #fff

.whitesmoke
  background #f3f3f3

.deg_turtlegreen_capper
  background-image -webkit-gradient(linear,left bottom,left top,color-stop(.27,#c8d997),color-stop(1,#415d2d))
  background-image -o-linear-gradient(top,#c8d997 27%,#415d2d 100%)
  background-image -moz-linear-gradient(top,#c8d997 27%,#415d2d 100%)
  background-image -webkit-linear-gradient(top,#c8d997 27%,#415d2d 100%)
  background-image -ms-linear-gradient(top,#c8d997 27%,#415d2d 100%)
  background-image linear-gradient(to top,#c8d997 27%,#415d2d 100%)

.white_patron
  background url("../images/patron.png") #fff

.transparente
  background transparent

.montana-tarawera
  background -webkit-linear-gradient(left,#333,#333 50%,#2c414c 50%,#2c414c)

.whitesmoke_patron
  background url("../images/patron.png") #f2f2f2
