.enconstruccion{
  //background: url("images/fondo_construccion.png") center top no-repeat;
  footer{
    z-index: 2;
    position: relative;
  }
  #logo_header{
    z-index: 2;
    position: relative;
    background: black;
    width: 100px;
    height: 120px
    img{
      margin: 0 auto;
      padding: 25px 0px;
    }
  }
  #msjConstruccion{
    margin-top: 150px;
    margin-bottom: 90px;
    .msj2{
      margin-left: 100px;
    }
    .msj3{
      margin-left: 200px;
    }
    p{
      font-size: 26px;
      text-shadow: 2px 2px #333333;

    }
  }
  .logo_grande{
    margin-bottom: 30px;
  }
  .fondo {
    position: absolute;
    z-index: 1;

  }
  footer{
    z-index: 2;
  }
  #cuerpo{
    *{
      z-index: 2;
    }
    padding-top: 150px;
    .datos-contacto{
      padding-left: 75px;
      h3{
        font-size: 14px;
        font-weight: normal;
        margin: 10px 0px 20px 0px;
      }
      p{
        font-size: 14px;
        margin: 10px 0px;
      }
      .redes{
        margin: 30px -30px 20px -30px;
        font-size: 13px;
      }
      .whatsapp, .mail{
        font-size: 16px;
        font-weight: normal;
      }
      .whatsapp-ico{
        background: url("images/whatsapp.png") left top no-repeat;
        margin: 0px 10px 10px 10px;
        padding-left: 20px;
      }
      .mail-ico{
        background: url("images/email.png") left top no-repeat;
        margin: 0px 10px 10px 10px;
        padding-left: 20px;
      }
      .cajaredes {
        text-align: center;
        padding-top: 20px;
        height: 90px;
        width: 210px;
        margin: 0 auto
        a{
          float: left;
        }
        i{
          margin: 0px 10px 10px 10px;
          padding: 20px 25px;
        }
        i.twitter{
          background: #606060 url("images/twitter.png") center center no-repeat;
        }
        i.facebook{
          background: #606060 url("images/facebook.png") center center no-repeat;
        }
        i.instagram{
          background: #606060 url("images/instagram.png") center center no-repeat;
        }
      }
    }
  }
}
