#cabeza{
  padding: 20px 0px;
  #menu_principal_box{
    ul{
      li{
        list-style: none;
        font-size: 14px;
        float: left;
        padding: 10px 30px;
        text-align: center;
        a{
          color: white;
          font-family: Lato;
        }
        &:hover{
          border-bottom: 2px solid #b48743;
        }
      }
    }
  }
}