.mayuscula, .mayusculas{
  text-transform: uppercase;
}
.minuscula, .minusculas{
  text-transform: lowercase;
}
.oculto{
  display: none;
  transition:all 1s;
}
.cursiva{
  font-style: italic;
}

.centrado{
	text-align: center;
}