tabletanchop = 767px;
mediatabletp = "(max-width: " +  tabletanchop+ ")";
@media mediatabletp{
  #logo_header{
    margin: .2em auto;
    width: 12em;
  }
  #logoSlogan{
    display: none;
  }
  #logoNormal{
    display: block;
  }
  .navbar-brand{
    height: auto;
  }
  nav.navbar.navbar-default{
    background: transparent;
  }
}

tabletanchol = 992px;
mediatabletl = "(min-width: " +  tabletanchol+ ")";
@media mediatabletl{
  .bxslider_middle{
    margin: 0;
    padding: 0;
    img{
      min-width: 500px;
    }
  }
  .carousel-caption {
    left: 60%;
    right: 20%;
    padding-bottom: 30px;
    top: 25%;
    h4{
      font-size: 30px;
    }
    p{
      font-size: 15px;
    }
  }
}

pantallamenu1 = 52.75em;
mediapantalla1 = "screen and (max-width: " + pantallamenu1 + ")";
@media mediapantalla1{
  .cbp-hrmenu{
    font-size: 80%;
  }
}

pantallamenu2 = 69.5em;
mediapantalla2 = "screen and (max-width: " + pantallamenu2 + ")";
@media mediapantalla2{
  .grid figure figcaption{
    font-size: 90%;
  }
  .grid figure{
    width: 50%;
  }
}

pantallamenu3 = 43em;
mediapantalla3 = "screen and (max-width: " + pantallamenu3 + ")";
@media mediapantalla3{
  .cbp-hrmenu > ul,.cbp-hrmenu .cbp-hrsub-inner{
    width: 100%;
    padding: 0;
  }
  .cbp-hrmenu .cbp-hrsub-inner{
    padding: 0 2em;
    font-size: 75%;
  }
  .cbp-hrmenu > ul > li{
    display: block;
    border-bottom: 4px solid #47a3da;
    a{
      display: block;
      padding: 1em 3em;
    }
  }   
  .cbp-hropen .cbp-hrsub{
    position: relative;
  }
  .cbp-hrsub h4{
    padding-top: .6em;
  }
  .cbp-hrmenu{
    font-size: 120%;
    border: none;
  }
}

pantallamenu4 = 36em;
mediapantalla4 = "screen and (max-width: " + pantallamenu4 + ")";
@media mediapantalla4{
  .cbp-hrmenu .cbp-hrsub-inner > div{
    width: 100%;
    float: none;
    padding: 0 2em;
  }
}
pantallamenu5 = 41.5em;
mediapantalla5 = "screen and (max-width: " + pantallamenu5 + ")";
@media mediapantalla5{
  .grid figure{
    width: 100%;
  }
}
