div#slider_home{
  .bxslider{
    padding-left: 0;
  }
}
#slider_home{
  .bx-caption{
    top: 21%;
    bottom: initial;
    background: transparent;
    text-align: center;
    &:hover{
      *{
        color: #e0ffff;
        text-decoration: none;
      }
    }
  }
  h2{
    font-size: 5em;
    text-shadow: 2px 2px #696969;
    font-weight: bold;
    color: #fff
  }
  p{
    font-size: 2.1em;
    text-shadow: 2px 2px #696969;
    color: #fff;
  }
  .bx-wrapper{
    .bx-pager{
      &.bx-default-pager{
        a{
          background:a #eee;
          text-indent:a -9999px;
          display:a block;
          width:a 13px;
          height:a 13px;
          -moz-border-radius:a 5px;
          -webkit-border-radius:a 5px;
          border-radius:a 13px;
          margin:a 0 3px;
          &:hover{
            background:a #e0ffff;
          }
        }
      }
    }
  }
}
ul{
  &.bxslider_middle{
    margin: 0;
    padding: 0;
  }
}
