/*
escritorio = "(min-width: 1024px)"
@media escritorio
escritorioL = "(min-width: 999px) and (max-width: 1200px)"
@media escritorioL
escritorioM = "(min-width: 980px) and (max-width: 1199px)"
@media escritorioM
escritorioXL = "(min-width: 1201px) and (max-width: 1400px)"
@media escritorioXL

*/
