@import 'menu'
@import 'home'
@import 'internas'
@import 'componentes'

body
  background transparent
  *
    font-family Oswald
    color #78899F
a, li
  cursor pointer
section, footer
  padding 60px 30px
.limpiador
  clear both
