header
  #header1

    margin 0
    padding 0
    border-bottom 1px solid #000000
    span
      padding 0px 7px
    #header1Row
      margin 0
    #logoBox
      padding 20px 10px 20px 20px
    #redesHeader
      padding 0px
      ul
        padding 10px 15px 1px 0px
        float right
        li
          float left
          list-style none
          &:hover
            opacity 0.5

          a
            padding 0px 5px
    #menutop
      margin 0
      ul
        margin 0px
        padding 0px
        float right
        list-style none
        li
          padding 5px

          float left
          a
            text-transform uppercase

    #header2
      padding 1px 0px
      position: absolute;
      z-index: 1;
      right: 50px;
      margin-top: 50px;
      width 60%
      #menuprincipal, .menu-menu-principal-container
        &:hover
          ul
            li
              a
                color #494200
        ul
          list-style none
          padding 20px 0 10px 0
          .current-menu-item
            a
              color #e10000 !important
          li
            float left
            a
              padding 20px 7px
              text-transform uppercase
              font-weight bold
              line-height 30px
              font-size 20px
              color #ffe600
              &:hover
                color #ffe600
                text-decoration none
    #rowSlide
      margin 0
      #slide
        padding 0
